.admin-search {
  background: #f1f1f1;
  height: 100%;
}
.admin-form-heading {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
}

.admin-form-container {
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  grid-gap: 15px;
}

.admin-form-child input {
  width: 100%;
}

.admin-add-user-container {
  background: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #ccc;
}

.admin-form-footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
