.card {
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.card .card-content {
  white-space: nowrap;
  overflow: hidden;
  max-width: 20ch;
  text-overflow: ellipsis;
}

.error-message {
  color: red;
}
