.services-card {
  margin-bottom: 10px;
  margin-top: 10px;
}
.services-card .col .card {
  background: #e6e6e3;
  /* margin: 20px; */
  width: 22rem;
  border-radius: 22px;
  border: none;
  padding: 20px;
  text-align: center;
}

.services-card .col {
  margin-top: 10px;
}

.service-icon {
  padding: 20px;
}
