.services-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* flex-direction: row; */
}

.services-card .card {
  background: #e6e6e3;
  border-radius: 22px;
  border: none;
  padding: 10px;
  text-align: center;
  flex-basis: 16%;
  margin: 3px;
}
.service-icon {
  padding: 10px;
}
.service-title {
  font-size: 12px;
}

@media (max-width: 800px) {
  .services-card {
    flex-direction: column;
  }
  .services-card .card {
    flex-basis: 50%;
  }
}

/* @media only screen and (orientation: landscape) {
  .services-card {
    flex-wrap: wrap;
  }
} */
