.success-stories-section {
  background: #031333;
  color: white;
  width: 100%;
  padding: 50px;
}
.success-stories-heading {
  font-size: 20px;
  text-align: center;
  color: #f54c1e;
}

.success-stories-sub-heading {
  font-size: 48px;
  text-align: center;
}

.success-stories-cards-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  flex-wrap: wrap;
}

.success-stories-content-wrapper {
  position: relative;
}

.success-stories-content {
  background: linear-gradient(1deg, #fd5c30 0.53%, rgba(0, 0, 0, 0) 101.68%);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
}

.success-stories-image {
  width: 246px;
  height: 344px;
  background: "linear-gradient(1deg, #FD5C30 0.53%, rgba(0, 0, 0, 0.00) 101.68%)";
  border-radius: 16px;
}

.success-stories-content div {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.success-stories-content div h4 {
  text-align: center;
}

.success-stories-content div p {
  padding: 20px;
  padding-top: 0px;
}

@media only screen and (max-width: 550px) {
  .success-stories-cards-container {
    flex-direction: column;
  }

  .success-stories-image {
    width: 100% !important;
  }

  .success-stories-sub-heading {
    font-size: 26px;
  }
}
