.success-stories-section {
  background: #031333;
  color: white;
  width: 100%;
  padding: 50px;
}
.success-stories-heading {
  font-size: 20px;
  text-align: center;
  color: #f54c1e;
}

.success-stories-sub-heading {
  font-size: 48px;
  text-align: center;
}

.success-stories-cards-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.success-stories-content-wrapper {
  position: relative;
}

.success-stories-content {
  background: linear-gradient(1deg, #fd5c30 0.53%, rgba(0, 0, 0, 0) 101.68%);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
