.top-section {
  background-image: url("/top-background.jpeg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 60px;
}
.jodidaar-logo {
  color: white;
  position: fixed;
  left: 50%;
  /* right: 50%; */
  top: 4%;
  transform: translateX(-50%);
  background-image: url("../../logo.svg");
}

.top-section-content {
  display: flex;
  height: 100%;
  align-items: center;
  color: white;
  text-align: center;
}

.top-section-left-content {
  width: 50%;
  /* border: 1px solid #fff; */
  /* margin-left: 100px; */
}
.top-section-right-content {
  width: 50%;
  display: flex;
  justify-content: right;
}

.top-section-left-content div:first-child {
  /* border: 1px solid; */
  text-align: left;
}
.register-btn-container {
  text-align: left;
}

.modal-dialog {
  top: 10%;
}

.common-heading {
  color: #f54c1e;
}

.shivaji-maharaj-logo {
  left: 50%;
  top: 50%;
  top: 460px;
  position: absolute;
  transform: translateX(-50%);
}

.quick-search {
  border-radius: 16px;
  background: rgba(3, 19, 51, 0.5);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 250px;
  flex-shrink: 0;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 40px;
}

.quick-search button {
  width: 100%;
  margin: 0px;
  border-radius: 0px;
  background: #f54c1e;
  border: none;
}
