.top-section {
  background-image: url("/top-background.jpeg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 60px;
}
.jodidaar-logo {
  color: white;
  position: fixed;
  left: 50%;
  /* right: 50%; */
  top: 4%;
  transform: translateX(-50%);
  background-image: url("../../logo.svg");
}

.top-section-content {
  display: flex;
  height: 100%;
  align-items: center;
  color: white;
  text-align: center;
}

.top-section-left-content {
  width: 50%;
  /* border: 1px solid #fff; */
  /* margin-left: 100px; */
}
.top-section-right-content {
  width: 50%;
}

.top-section-left-content div:first-child {
  /* border: 1px solid; */
  text-align: left;
}
.register-btn-container {
  text-align: left;
}

.modal-dialog {
  top: 20%;
}

.common-heading {
  color: #f54c1e;
}
