.register-option-selection {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.register-option-selection input[type="radio"] {
  margin-left: 5px;
  margin-right: 5px;
}

.ant-picker-dropdown {
  z-index: 1056 !important;
}

.register-btn {
  background-color: #f54c1e !important;
  border-radius: 0px !important;
  border: none;
  margin-left: 0px;
  margin-top: 10px;
  width: 150px;
}

.StepperContainer-0-2-1 {
  padding: 0px !important;
  margin: 10px 0px 10px 0px;
}

.modal-header .btn-close {
  border: 1px solid;
  height: 10px;
  width: 10px;
  border-radius: 20px;
}
