.register-option-selection {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.register-option-selection input[type="radio"] {
  margin-left: 5px;
  margin-right: 5px;
}

.ant-picker-dropdown {
  z-index: 1056 !important;
}
