.register-option-selection {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.register-option-selection input[type="radio"] {
  margin-left: 5px;
  margin-right: 5px;
}

.ant-picker-dropdown {
  z-index: 1056 !important;
}

.register-btn {
  background-color: #f54c1e !important;
  border-radius: 0px !important;
  border: none;
  margin-left: 0px;
  margin-top: 10px;
  width: 150px;
}

.StepperContainer-0-2-1 {
  padding: 0px !important;
  margin: 10px 0px 10px 0px;
}

.modal-header .btn-close {
  /* border: 1px solid; */
  height: 5px;
  width: 5px;
  /* border-radius: 20px; */
  color: black;
}

.footer-buttons {
  margin: 20px 5px;
}

.registration-form .form-select {
  border-radius: 0px !important;
}

.registration-form .form-control {
  border-radius: 0px !important;
}
.form-item-left .react-datepicker-wrapper {
  width: 100%;
}

.upload-image {
  position: relative;
}
/* 
.dropzone-div {
  position: absolute;
  width: 100%;
  height: auto;
}

.cropper-div {
  position: relative;
} */

.error-div {
  color: #bf1650;
  padding: 5px;
  text-align: left;
  font-size: 12px;
}

@media (max-width: 768px) {
  .footer-buttons {
    margin: none;
    flex-direction: row;
    justify-content: center;
    display: flex;
  }

  .footer-buttons > button {
    margin-right: 10px;
  }
}
