.otp-message {
  text-align: center;
  font-size: 12px;
  margin-top: 12px;
}
.otp-error-message {
  text-align: center;
  font-size: 12px;
  margin-top: 12px;
  color: red;
}

.login-modal .modal-dialog {
  opacity: 0.9;
  max-width: 350px;
}
.modal-body {
  padding-left: 30px;
  padding-right: 30px;
}
