.dashboard-page {
  margin-top: 50px;
  background: #f1f1f1;
  padding: 10px;
  height: 100vh;
}

.logged-in-user {
  /* height: 50px; */
  border-radius: 12px;
  background-color: #2e308e;
  padding: 15px 15px 15px 35px;
  color: white;
  font-weight: 500;
}

.report-section {
  margin-top: 25px;
  display: flex;
  gap: 20px;
}
